@import "tailwindcss";

/* --- Theme Colors --- */
@theme {
  --color-primary: #084C92;
  --color-primary-dark: #063b70;
}

/* --- Global Font --- */
html,
body {
  font-family: "SF Pro Display", system-ui, sans-serif;
}